<h1>Corporation Table</h1>

<div class="content">

    <h3>Search</h3>
    <!-- https://docs.angularjs.org/api/ng/filter/filter -->
    <br />
    <p>{{vm.message}}</p>
    <!--search accessibility-->
    Search: <input ng-model="searchText">
    <br /><br /><br />
    <table class="gridtable">
        <thead>
            <tr>
                <th>Corp</th>
                <th>Phone</th>                
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>    
        <!--search filter added-->
        <tr ng-repeat="corp in vm.corps| filter:searchText">
            <td>{{corp.corp}}</td>                  
            <td>{{corp.phone}}</td>
            <td><a ng-href="#/corp/{{corp.id}}">View</a></td>
            <td><a ng-href="#/corp/delete/{{corp.id}}" data-confirm-delete>Delete Link</a></td>
            <td><button ng-click="vm.deleteCorp(corp.id)">Delete</button></td>
        </tr>
    </table>
</div>

