<h1>Corporation Table</h1>

<div class="content">
    
    <h3>Search</h3>
    <!-- https://docs.angularjs.org/api/ng/filter/filter -->
    <br />
    <br /> 
    <p>{{vm.message}}</p>
    <table class="gridtable">
        <thead>
            <tr>
                <th>Corp</th>
                <th>Owner</th>                
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>    
        
        <tr ng-repeat="corp in vm.corps">
            <td>{{corp.corp}}</td>                  
            <td>{{corp.owner}}</td>
            <td><a ng-href="#/corp/{{corp.id}}">View</a></td>
            <td><a ng-href="#/corp/delete/{{corp.id}}" data-confirm-delete>Delete Link</a></td>
            <td><button ng-click="vm.deleteCorp(corp.id)">Delete</button></td>
        </tr>
    </table>
        
</div>

